body {
  background:#9AC8EB;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: #5784BA;
  color: #385477;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

